\# Assignment 3 part 1 notebook Viswanatha Chepuri

## 1. Answer 2

In [ ]:
dataset = [['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Dill', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
           ['Milk', 'Unicorn', 'Corn', 'Kidney Beans', 'Yogurt'],
           ['Corn', 'Onion', 'Onion', 'Kidney Beans', 'Ice cream', 'Eggs']]

In [ ]:
from mlxtend.preprocessing import TransactionEncoder

te = TransactionEncoder()
te_ary = te.fit_transform(dataset)
print(te_ary)

[[False False False  True False  True  True  True  True False  True]
 [False False  True  True False  True False  True  True False  True]
 [ True False False  True False  True  True False False False False]
 [False  True False False False  True  True False False  True  True]
 [False  True False  True  True  True False False  True False False]]

In [ ]:
import pandas as pd

df = pd.DataFrame(te_ary, columns=te.columns_)
display(df)

,Apple,Corn,Dill,Eggs,Ice cream,Kidney Beans,Milk,Nutmeg,Onion,Unicorn,Yogurt
0,False,False,False,True,False,True,True,True,True,False,True
1,False,False,True,True,False,True,False,True,True,False,True
2,True,False,False,True,False,True,True,False,False,False,False
3,False,True,False,False,False,True,True,False,False,True,True
4,False,True,False,True,True,True,False,False,True,False,False

In [ ]:
#Question 2 The support set to 40% and check for the given itemset to be frequent

from mlxtend.frequent_patterns import apriori

frequent_itemsets = apriori(df, min_support=0.4) #set minimum suppport to 0.4 which is 40%
display(frequent_itemsets)

itemset = frequent_itemsets.loc[5]
print('Itemset: {0}. Support: {1}.'.format(itemset['itemsets'], itemset['support']))

    support          itemsets
0       0.4               (1)
1       0.8               (3)
2       1.0               (5)
3       0.6               (6)
4       0.4               (7)
5       0.6               (8)
6       0.6              (10)
7       0.4            (1, 5)
8       0.8            (3, 5)
9       0.4            (3, 6)
10      0.4            (3, 7)
11      0.6            (8, 3)
12      0.4           (10, 3)
13      0.6            (5, 6)
14      0.4            (5, 7)
15      0.6            (8, 5)
16      0.6           (10, 5)
17      0.4           (10, 6)
18      0.4            (8, 7)
19      0.4           (10, 7)
20      0.4           (8, 10)
21      0.4         (3, 5, 6)
22      0.4         (3, 5, 7)
23      0.6         (8, 3, 5)
24      0.4        (10, 3, 5)
25      0.4         (8, 3, 7)
26      0.4        (10, 3, 7)
27      0.4        (8, 10, 3)
28      0.4        (10, 5, 6)
29      0.4         (8, 5, 7)
30      0.4        (10, 5, 7)
31      0.4        (8, 10, 5)
32      0.4        (8, 10, 7)
33      0.4      (8, 3, 5, 7)
34      0.4     (10, 3, 5, 7)
35      0.4     (8, 10, 3, 5)
36      0.4     (8, 10, 3, 7)
37      0.4     (8, 10, 5, 7)
38      0.4  (3, 5, 7, 8, 10)

Itemset: frozenset({8}). Support: 0.6.

Conveniently, if the parameter ``use_colnames`` is set to ``True``,  the ``mlxtend`` function ``apriori`` will instead return a ``DataFrame`` that represents itemsets by ``frozensets`` of item names.

In [ ]:
#Question 2 The support set to 40% and check for the given itemset to be frequent

frequent_itemsets = apriori(df, min_support=0.4, use_colnames=True)  #set minimum suppport to 0.4 which is 40%
display(frequent_itemsets)

    support                                     itemsets
0       0.4                                       (Corn)
1       0.8                                       (Eggs)
2       1.0                               (Kidney Beans)
3       0.6                                       (Milk)
4       0.4                                     (Nutmeg)
5       0.6                                      (Onion)
6       0.6                                     (Yogurt)
7       0.4                         (Kidney Beans, Corn)
8       0.8                         (Kidney Beans, Eggs)
9       0.4                                 (Milk, Eggs)
10      0.4                               (Nutmeg, Eggs)
11      0.6                                (Onion, Eggs)
12      0.4                               (Yogurt, Eggs)
13      0.6                         (Kidney Beans, Milk)
14      0.4                       (Nutmeg, Kidney Beans)
15      0.6                        (Kidney Beans, Onion)
16      0.6                       (Yogurt, Kidney Beans)
17      0.4                               (Yogurt, Milk)
18      0.4                              (Nutmeg, Onion)
19      0.4                             (Nutmeg, Yogurt)
20      0.4                              (Yogurt, Onion)
21      0.4                   (Milk, Kidney Beans, Eggs)
22      0.4                 (Nutmeg, Kidney Beans, Eggs)
23      0.6                  (Kidney Beans, Onion, Eggs)
24      0.4                 (Yogurt, Kidney Beans, Eggs)
25      0.4                        (Nutmeg, Onion, Eggs)
26      0.4                       (Nutmeg, Yogurt, Eggs)
27      0.4                        (Yogurt, Onion, Eggs)
28      0.4                 (Yogurt, Kidney Beans, Milk)
29      0.4                (Nutmeg, Kidney Beans, Onion)
30      0.4               (Nutmeg, Yogurt, Kidney Beans)
31      0.4                (Kidney Beans, Yogurt, Onion)
32      0.4                      (Nutmeg, Yogurt, Onion)
33      0.4          (Nutmeg, Kidney Beans, Onion, Eggs)
34      0.4         (Nutmeg, Yogurt, Kidney Beans, Eggs)
35      0.4          (Kidney Beans, Yogurt, Onion, Eggs)
36      0.4                (Nutmeg, Yogurt, Onion, Eggs)
37      0.4        (Kidney Beans, Yogurt, Onion, Nutmeg)
38      0.4  (Kidney Beans, Eggs, Onion, Nutmeg, Yogurt)

Using typical ``pandas`` functionalities, it is easy to include a column in such a ``DataFrame`` to register the number of items in each frequent itemset, which can be used to filter itemsets by length.

It is also easy to create a ``dict`` that maps any frequent itemset (represented by a ``frozenset``) to its support.

In [ ]:
support = {}
for _, row in frequent_itemsets.iterrows():
    support[row['itemsets']] = row['support']

itemset = frozenset(['Onion', 'Eggs'])
print('Itemset: {0}. Support: {1}.'.format(itemset, support[itemset]))

Itemset: frozenset({'Onion', 'Eggs'}). Support: 0.6.

In [ ]:
from mlxtend.frequent_patterns import association_rules

strong_rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.7)
display(strong_rules)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Corn),(Kidney Beans),0.4,1.0,0.4,1.0,1.000000,0.00,inf
1,(Kidney Beans),(Eggs),1.0,0.8,0.8,0.8,1.000000,0.00,1.0
2,(Eggs),(Kidney Beans),0.8,1.0,0.8,1.0,1.000000,0.00,inf
3,(Nutmeg),(Eggs),0.4,0.8,0.4,1.0,1.250000,0.08,inf
4,(Onion),(Eggs),0.6,0.8,0.6,1.0,1.250000,0.12,inf
...,...,...,...,...,...,...,...,...,...
99,"(Yogurt, Eggs)","(Nutmeg, Kidney Beans, Onion)",0.4,0.4,0.4,1.0,2.500000,0.24,inf
100,"(Nutmeg, Onion)","(Yogurt, Kidney Beans, Eggs)",0.4,0.4,0.4,1.0,2.500000,0.24,inf
101,"(Yogurt, Onion)","(Nutmeg, Kidney Beans, Eggs)",0.4,0.4,0.4,1.0,2.500000,0.24,inf
102,"(Nutmeg, Yogurt)","(Kidney Beans, Onion, Eggs)",0.4,0.6,0.4,1.0,1.666667,0.16,inf
103,(Nutmeg),"(Yogurt, Kidney Beans, Onion, Eggs)",0.4,0.4,0.4,1.0,2.500000,0.24,inf

Answer 3 The calculation of Kulczynski measure

In [ ]:
def kulczynski_measure(df, antecedent, consequent):
    """takes the dataframe of stored itemsets with transactions. and two of 
    and two the itemsets frozensets between which the Kulczynski measure to be
    calculated
    
    ----------
    The Kulczynski measure
        K(A,C) = (confidence(A->C) + confidence(C->A)) / 2, range: [0, 1]\n.
    """
    if not df.shape[0]:
        raise ValueError('The input DataFrame `df` containing '
                         'the frequent itemsets is empty.')

    # check for mandatory columns
    required_columns = ["antecedents", "consequents", "confidence"]
    if not all(col in df.columns for col in required_columns):
        raise ValueError(
            "Dataframe needs to contain the\
            columns 'antecedents', 'consequents' and 'confidence'"
        )

    # get confidence of antecedent to consequent rule
    a_to_c = df[
        (df["antecedents"] == antecedent) & (df["consequents"] == consequent)]
    try:
        a_to_c_confidence = a_to_c["confidence"].iloc[0]
    except IndexError:
        a_to_c_confidence = 0

    # get confidence of consequent to antecedent rule
    c_to_a = df[
        (df["antecedents"] == consequent) & (df["consequents"] == antecedent)]
    try:
        c_to_a_confidence = c_to_a["confidence"].iloc[0]
    except IndexError:
        c_to_a_confidence = 0
    return (a_to_c_confidence + c_to_a_confidence) / 2

In [ ]:
antece_ts = frozenset(['Onion','Eggs']) 
conseq_ts = frozenset(['Kidney Beans'])
print('Kulczynski measure: ' + str(kulczynski_measure(strong_rules, antece_ts, conseq_ts)))

Kulczynski measure: 0.5

In [ ]:
antece_ts = frozenset(['Onion']) 
conseq_ts = frozenset(['Kidney Beans' ,'Eggs'])

print('Kulczynski measure: ' + str(kulczynski_measure(strong_rules, antece_ts, conseq_ts)))

Kulczynski measure: 0.875

Answer 4 Calculate the Imbalance ratio of the two itemsets

In [ ]:
def imbalance_ratio(df, a, b):
    """
    Calculates the imbalance ratio for a given pair of itemsets
    Parameters
    -----------
    df : pandas DataFrame
      pandas DataFrame of frequent itemsets
      with columns ['support', 'itemsets']
    a : set or frozenset
        First itemset
    b : set or frozenset
        Second itemset
    Returns
    ----------
    The imbalance ratio
         I(A,B) = |support(A) - support(B)| /\
            (support(A) + support(B) - support(A+B)), range: [0, 1]\n.
    """
    if not df.shape[0]:
        raise ValueError('The input DataFrame `df` containing '
                         'the frequent itemsets is empty.')

    # check for mandatory columns
    if not all(col in df.columns for col in ["support", "itemsets"]):
        raise ValueError("Dataframe needs to contain the\
                         columns 'support' and 'itemsets'")

    # get support of a
    try:
        sA = df[df["itemsets"] == a].support.iloc[0]
    except IndexError:
        sA = 0

    # get support of b
    try:
        sB = df[df["itemsets"] == b].support.iloc[0]
    except IndexError:
        sB = 0

    # get support of a union b
    try:
        sAB = df[df["itemsets"] == a.union(b)].support.iloc[0]
    except IndexError:
        sAB = 0

    try:
        return abs(sA - sB) / (sA + sB - sAB)
    except ZeroDivisionError:
        return 0

In [ ]:
antece_ts = frozenset(['Onion','Eggs']) 
conseq_ts = frozenset(['Kidney Beans'])
print('Imbalance ratio: ' + str(imbalance_ratio(frequent_itemsets, antece_ts, conseq_ts)))

Imbalance ratio: 0.4

In [ ]:
antece_ts = frozenset(['Onion'])
conseq_ts = frozenset(['Kidney Beans','Eggs'])
print('Imbalance ratio: ' + str(imbalance_ratio(frequent_itemsets, antece_ts, conseq_ts)))

Imbalance ratio: 0.2500000000000001

In [ ]:
antece_ts = frozenset(['Eggs'])
conseq_ts = frozenset(['Onion','Yogurt'])
print('Imbalance ratio: ' + str(imbalance_ratio(frequent_itemsets, antece_ts, conseq_ts)))

Imbalance ratio: 0.49999999999999994

Answer 6 Find the smallest subset of dataset that generates worst case scenario of apriori algorithm where more items are infrequent

In [ ]:
dataset = [['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs',
	    'Yogurt','Dill','Apple','Ice cream','Corn','Unicorn']]

transaction = TransactionEncoder()
trans_array = transaction.fit_transform(dataset)
dataframe = pd.DataFrame(trans_array, columns=transaction.columns_)
display(dataframe)

frequent = apriori(dataframe, min_support=1, use_colnames=True)
frequent

,Apple,Corn,Dill,Eggs,Ice cream,Kidney Beans,Milk,Nutmeg,Onion,Unicorn,Yogurt
0,True,True,True,True,True,True,True,True,True,True,True

      support                                           itemsets
0         1.0                                            (Apple)
1         1.0                                             (Corn)
2         1.0                                             (Dill)
3         1.0                                             (Eggs)
4         1.0                                        (Ice cream)
...       ...                                                ...
2042      1.0  (Apple, Kidney Beans, Dill, Onion, Milk, Nutme...
2043      1.0  (Apple, Kidney Beans, Eggs, Onion, Milk, Nutme...
2044      1.0  (Apple, Kidney Beans, Eggs, Dill, Onion, Milk,...
2045      1.0  (Kidney Beans, Eggs, Dill, Onion, Milk, Nutmeg...
2046      1.0  (Apple, Kidney Beans, Eggs, Dill, Onion, Milk,...

[2047 rows x 2 columns]